<?xml version="1.0"?>
<model>
  <name>EagleAUV Validation Gate</name>
  <version>1.0</version>
  <sdf version="1.10">model.sdf</sdf>
  
  <author>
    <name>Prabesh</name>
    <email>robotics@usm.edu</email>
  </author>
  
  <description>
    The official 2026 RoboSub Validation Gate. 
    1.5m width, two-tone PBR materials (Red/Black), with center divider.
  </description>
</model>
